.sidebar-wrapper {
    width: 100px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.2);
}

.svg-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
}

.svg-line-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-top: 20px;
}

.svg-item {
    margin: auto;
}

.inactive-colour {
    fill: #757575;
    fill-rule: evenodd;
}

.active-colour {
    fill: #104d8c;
    fill-rule: evenodd;
}

.active-line {
    width: 6px;
    height: 120px;
    background-color: #104d8c;
}

.show-active-line {
    visibility: visible;
}

.hide-active-line {
    visibility: hidden;
}

.button-text {
    font-family: Roboto, serif;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-right: 6px;
    font-weight: 500;
}

.active-text-colour {
    color: #104d8c;
}

.inactive-text-colour {
    color: #757575;
}
