.gallery-upload-button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-component {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.upload-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-input + label {
    text-align: center;
    padding-top: 18px;
    cursor: pointer;
    width: 235px;
    height: 40px;
    border-radius: 35px;
    background-color: #0d47a1;
    color: white;
    border: 1px solid #0d47a1;
    box-shadow: -1px 0px 13px 0px rgba(0,0,0,0.76);
}
