.gallery-upload-button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-component {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.upload-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-input + label {
    top: 87%;
    position: fixed;
    z-index: 15;
    text-align: center;
    cursor: pointer;
    width: 245px;
    height: 65px;
    border-radius: 35px;
    background-color: #0457d6;
    color: white;
    border: 1px solid #0457d6;
    box-shadow: -1px 0px 15px 0px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.add-photo-img {
    margin-right: 20px;
}

.add-photo-img-svg {
    fill: white;
    fill-rule: evenodd;
}
